
    </div><!-- /.container -->
<section class="cta">
	<h1>Pour plus d'informations n'hesitez pas de nous contacter</h1>
	<a href="/contact" class="hero-btn" >CONTACT</a>
</section>
 <section class="footer">
	<h4>A propos de nous</h4>
	<P>Nous avons créer E-Shopping  pour  les jeunes développeur qui visent à bien maitriser HTML, CSS et Java Script: espace de vente et espace cours</P>
	<div class="icons">
		<a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
		<a href="https://www.twitter.com/?lang=fr" target="_blank"><i class="fa fa-twitter"></i></a>	
		<a href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fa fa-instagram"></i></a>
		<a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>	
		<a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
	
	</div>
	<p>Made with <i class="fa fa-heart"> by Ghassen Ben Jannet & Imen Ben Sassi</i>	</p>
</section>
    <script src="/js/main.js"> </script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.css"></script>
  </body>
</html>
