
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    <title><%= title %></title>
     <link rel="stylesheet" href="./style.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body>

   <section class="header">
        <nav>
	    <div class="nav-links" id="navlinks">
	      <i class="fa fa-times" onclick="hideMenu()"></i>
	      <ul class="nav navbar-nav">
                <li><a href="">Accueil</a></li>
                <li><a href="">A propos</a></li>
                <li><a href="/contact.ejs">Contact</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/logout">Logout</a></li>
             </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>		
        </nav>
        <div class="text-box">
            <h1>E-Shopping : Langages et cours de Programmation</h1>
            <p>Platforme qui mis à votre disposition des langages et des cours </p>
             <a href=#roww class="hero-btn">VOIR PLUS</a>
    </section>
    <script type="text/javascript">
		var navlinks=document.getElementById("navlinks");
		function showMenu(){
			navlinks.style.right="0";
		}
		function hideMenu(){
			navlinks.style.right="-200px";
		}
	</script>

    <div class="container">
    <%- messages('messages', locals) %>

      



    
   
