<%- include ('../_layouts/headeradmin');-%>
<br><br><!-- comment -->

<h2 class="page-title">Mes pages</h2>
<a href="/index" class="btn btn-primary"> Espace Admin</a>
<br><br>

 <section class="Contenu">
	<h1 id="roww">E-shopping</h1>
	<div class="row" >
		<div class="contenu-info" >
                    <a href="/admin/pages" >
                        <img src="images/pag.png" alt="logopage ">
                        <div class="layer">
				<h2> Page </h2>
			</div></a>
	    </div>

	    <div class="contenu-info"><a href="/admin/categories">
			<img src="images/caty.png" alt="logocat">
			<div class="layer">
				<h2>Catégories </h2>
			</div></a>
	    </div>

	    <div class="contenu-info"><a href="/admin/produits">
			<img src="images/prod.png" alt="logoproduits">
			<div class="layer">
				<h2>Produits</h2>
			</div></a>
	    </div>
        </div>
 </section>
<%-include ('../_layouts/footeradmin');-%>